.header {
  height: 56px;
  background-color: var(--mantine-color-body);
  width: 100%;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}
.link:hover {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
}

.linkLabel {
  margin-right: 5px;
}

.mobileMenu {
  position: absolute;
  top: 56px;
  right: 0;
  width: 100%;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  z-index: 100;
}

.mobileMenu a {
  padding: 10px 20px;
  width: 100%;
  text-align: center;
}
